<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   

 @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-default " role="navigation">

            <div >
                <div class="media">
                    <a class="pull-left" href="http://www.indymca.org/centers/fishers/center-news/">
                        <img class="media-object img-rounded" src="~/resources/YMCAlogo.png" />
                    </a>
                    <div class="media-body">
                        <h2 class="media-heading">Fishers YMCA Aquatics Pool Scheduler</h2>
                    </div>
                </div>
            </div>
      
    </nav>

    @RenderBody()
     @Scripts.Render("~/bundles/core")

    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", required: false)

</body>
</html>
